
.forlovning-page {
  text-align: center;
  padding: 20px;
}


.forlovning-title {
  font-size: 40px;
  margin: 20px 0; 
  text-transform: uppercase;
  font-family: 'Silksemi', sans-serif; 
}
.button-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  max-width: 100%; 
}


.btn {
  padding: 12px 25px;

  color: #000000;
  text-transform: uppercase;
  font-family: 'Silksemi', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: inline-block;
  text-align: center;
  width: calc(50% - 5px); 
  margin-bottom: 10px;
  box-sizing: border-box; 
}


.btn:hover {
  background-color: #444444;
}

.image-grid {
  cursor: pointer;
}

@media (min-width: 640px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .btn {
    font-size: 1.2em;
    padding: 14px 30px;
  }
}


@media (max-width: 640px) {
  .button-links {
    flex-direction: row; 
  }

  .btn {
    width: calc(50% - 5px); 
  }
}
