:root {
    --primary-color: #000000;
    --secondary-color: #f5f5f5;
    --text-color: #000000;
    --border-color: #ddd;
    --success-color: #4CAF50;
    --error-color: #f44336;
  }
  

  .kontakt-container {
    max-width: 900px;  
    margin: 0 auto;
    padding: 40px;  
    font-family: 'Silksemi';
    display: flex;
  flex-direction: column;
  flex-grow: 1; 
  }
  

  .kontakt-heading {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;  
  }

  .kontakt-description {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 1rem;  
  }
  

  .kontakt-form-group {
    margin-bottom: 20px;
  }
  

  .kontakt-label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: bold;
  }
  

  .kontakt-input,
  .kontakt-textarea {
    width: 100%;
    padding: 20px;  
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
  }
  
  .kontakt-textarea {
    height: 150px;
    resize: vertical;
  }
  

  .kontakt-input:focus,
  .kontakt-textarea:focus {
    border-color: #000000;
    outline: none;
  }
  

  .kontakt-button {
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;  
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%; 
  }
  
  .kontakt-button:hover {
  background-color: rgb(94, 1, 1); 
    
    }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  


  @media (max-width: 640px) {
    .kontakt-container {
      padding: 15px;
    }
  
 
  
    .kontakt-input,
    .kontakt-textarea {
      font-size: 14px;
    }
  
    .kontakt-button {
      width: 100%;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1024px) {
    .kontakt-container {
      padding: 20px;
    }
  
    .kontakt-form {
      padding: 25px;
    }
  }
  
  @media (min-width: 1025px) {
    .kontakt-container {
      padding: 30px;
    }
  
    .kontakt-form {
      padding: 40px;
    }
    .kontakt-container {
      max-width: 1500px; 
      margin: 0 auto;
      padding: 40px;  
      font-family: 'Silksemi';
    }
  }
  