.portfolio {
  text-align: center;
  background-color: black;

}

.portfolio h1 {
  font-size: 40px;
  font-family: 'Silksemi', sans-serif; /* Se till att detta är rätt */
  color: white;
}

.portfolio h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Silksemi', sans-serif; /* Se till att detta är rätt */
  color: white;
}

/* Portfolio Grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
 
}

@media (min-width: 640px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio-item {
  position: relative;
  text-align: center;

}

.portfolio-item img {
  width: 12em;
  height: 8em;
  border-radius: 10px;
  padding-bottom: 2rem;
}

/* ✅ Säkertställer att vi styr rätt element */
.portfolio-text {
  position: absolute;
  top: 75%; /* Får texten att vara vertikalt centrerad */
  left: 50%;
  transform: translate(-50%, -50%); /* Håller texten centrerad */
  font-family: 'Silksemi', sans-serif; /* Se till att detta är rätt */
  font-size: 25px;  /* 🔹 Stor text */
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  white-space: nowrap; /* 🔹 Gör att texten sticker ut på sidorna */
  letter-spacing: 3px; /* 🔹 Ger mer mellanrum mellan bokstäverna */
  
  
  z-index: 10 !important; /* 🔹 Se till att texten ligger över bilden */
}

/*TODO: Fixa css för ipad och desktop*/
@media (min-width: 768px) {
  .portfolio-text {
    font-size: 40px; /* Större text på större skärmar */
  }
}
