.sok-page {
  text-align: center;
  padding: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.image-item p {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
 /*TODO: Fixa css för ipad och desktop*/