/* Header.css */

.header {

  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lätt skugga */
  font-size: 1em;
}

.logo-container {
  /* Justera storlek och marginaler efter behov */
  width: 400px; /* Exempelstorlek */
}

.logo {
  width: 100%;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

 
}
.admin-link {
color: white;
}
.nav-right {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-right: 10px;
  width: 150px; /* Justera bredden efter behov */
  font-size: 0.9em;
}

.cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em; /* Justera storleken på ikonen */
  color: #333;
  margin-left: 10px; /* Lägg till lite marginal på höger sida */

}

.nav-links {
  list-style: none;
  padding-top: 10px;
  margin: 0;
  display: flex;

}

.nav-links li {
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0; /* Ingen marginal på första länken */
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}

/* Media query för mindre skärmar (t.ex. mobiler) */
@media (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: center; /* Centrera innehållet horisontellt */
  }

  .logo-container {
    margin-bottom: 10px;
 
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-right {
    margin-bottom: 10px;
  margin-left: 1.5rem;
  }

  .nav-links {
    flex-direction: row;
    align-items:center;
  }

  .nav-links li {
    margin: 10px ;
  }
  .search-bar {
   
    width: 300px; /* Justera bredden efter behov */
  }

}
