
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
}

.carousel-slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-image {
  width: 30%;
  height: auto;
  object-fit: cover;
}
