
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
  
}.video-container {
  width: 100vw; 
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;

}

  
  .background-video {
    width: 100%;
    height: auto;
    display: block;
   
    
  }
  