.video-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 170px;
  display: flex;
  align-items: center;
}

.video-carousel {
  display: flex;
  width: max-content;
  animation: scrollVideos 60s linear infinite; 
}

.background-video {
  width: 300px; 
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
}

@keyframes scrollVideos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
